<div class="col-xs-8 col-xs-offset-2">
  <table class="table movietable ng-scope">
    <tbody>
    <tr>
      <td><h3 class="ng-binding">Details for Bill and Ted's Excellent Adventure</h3></td>
      <td></td>
    </tr>
    <tr>
      <td>Movie Title</td>
      <td class="ng-binding">Bill and Ted's Excellent Adventure</td>
    </tr>
    <tr>
      <td>Director</td>
      <td class="ng-binding">Stephen Herek</td>
    </tr>
    <tr>
      <td>Release Year</td>
      <td class="ng-binding">1990</td>
    </tr>
    <tr>
      <td>Movie Genre</td>
      <td class="ng-binding">Comedy</td>
    </tr>
    </tbody>
  </table>
  <div class="ng-scope">
    <a class="btn btn-primary" ui-sref="editMovie({id:movie._id})" href="#/movies/29215/edit">Edit</a>
  </div>
</div>
